<!DOCTYPE html>
<html>

<head lang="en"><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!-- Page Description -->
	{{ if ((it.portalConfig.pagedesc !== "undefined") & (it.portalConfig.pagedesc !== "")) { }}
		<meta name="description" content="{{=it.portalConfig.pagedesc}}" />
	{{ } else { }}
		<meta name="description" content="SatoxCoin mining pool" />    
	{{ } }}
	<!-- Page Keywords -->
	{{ if ((it.portalConfig.pagekeywds !== "undefined") & (it.portalConfig.pagekeywds !== "")) { }}
		<meta name="keywords" content="{{=it.portalConfig.pagekeywds}}" />
	{{ } else { }}
		<meta name="keywords" content="SatoxCoin, pool, mining pool, mining, cryptocurrency, crypto, satox" />
	{{ } }}
	<!-- Page Author -->
	{{ if ((it.portalConfig.pageauthor !== "undefined") & (it.portalConfig.pageauthor !== "")) { }}
		<meta name="author" content="root" />
	{{ } else { }}
		<meta name="author" content="root" />   
	{{ } }}
	<!-- Page Title -->
	{{ if ((it.portalConfig.pagetitle !== "undefined") & (it.portalConfig.pagetitle !== "")) { }}
		<title>{{=it.portalConfig.pagetitle}}</title>
	{{ } else { }}
		<title>SatoxCoin Mining Pool </title>
	{{ } }}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<link rel="icon" href="/static/img/satoxcoin.png" type="image/ico" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@500&display=swap" rel="stylesheet">
	<title>SatoxCoin Mining Pool</title>
	<link href="/static/lib/font-awesome/css/all.min.css" rel="stylesheet">
	<link href="/static/lib/Ionicons/css/ionicons.css" rel="stylesheet">
	<link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/lib/jquery-datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">
	<link href="/static/lib/chart.js/css/Chart.min.css" rel="stylesheet">
	<link href="/static/lib/jquery-toggles/css/toggles-full.css" rel="stylesheet">
	<link href="/static/lib/select2/css/select2.min.css" rel="stylesheet">
  <link href="/static/lib/normalize/css/normalize.min.css" rel="stylesheet">
	<link href="/static/lib/pure/css/pure.min.css" rel="stylesheet">
	<link href="/static/css/slim.css" rel="stylesheet">
	<link href="/static/css/slim.one.css" rel="stylesheet">
	<script src="/static/lib/font-awesome/js/all.min.js"></script>
	<script src="/static/lib/jquery/js/jquery.min.js"></script>
	<script src="/static/lib/js-cookie/js/js.cookie.min.js"></script>
	<script src="/static/lib/popper.js/js/popper.min.js"></script>
	<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/lib/jquery-datatables/js/jquery.dataTables.min.js"></script>
	<script src="/static/lib/jquery-datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="/static/lib/jquery-datatables/js/natural.js"></script>
	<script src="/static/lib/jquery.timeago/js/jquery.timeago.js"></script>
	<script src="/static/lib/jquery-ui/js/jquery-ui.min.js"></script>
	<script src="/static/lib/raphael/js/raphael.js"></script>
	<script src="/static/lib/select2/js/select2.full.min.js"></script>
	<script src="/static/lib/moment/js/moment.min.js"></script>
	<script src="/static/lib/chart.js/js/Chart.min.js"></script>
	<script src="/static/lib/chart.js/js/Chart.bundle.min.js"></script>
	<script src="/static/lib/jquery-toggles/js/toggles.min.js"></script>
	<script src="/static/lib/justgage/js/justgage.js"></script>
	<script src="/static/js/ResizeSensor.js"></script>
	<script src="/static/js/slim.js"></script>
	<script src="/static/js/main.js"></script>
	<script src="/static/stat_tracker.js"></script>
	{{=it.matomoCode}}
</head>

<body>
    <div class="container">
		<div class="slim-navbar bg-transparent pr-3 mr-auto">
			<ul class="nav shadow">
				<li class="nav-item">
					<a class="nav-link hot_link" href="/">
						<i class="icon ion-ios-home"></i>
						<span class="tx-mov-mic">&nbsp;Home</span>
					</a>
				</li>
				<li class="nav-item with-sub">
					<a class="nav-link" href="#" data-toggle="dropdown">
						<i class="icon ion-social-buffer"></i>
						<span class="tx-mov-mic">&nbsp;POOLS</span>
					</a>
					<div class="sub-item">
						<ul>
							<li>
								<a class="hot_link" href="https://satox.miningpub.co.uk" target="_blank"><img src="/static/img/satoxcoin.png" style="height: 16px;width: 16px;" alt="icon" />&nbsp;<span class="tx-mov-mic">&nbsp;&nbsp;SatoxCoin</span></a>
							</li>
							<li>
								<a class="hot_link" href="https://meow.miningpub.co.uk" target="_blank"><img src="/static/img/meowcoin.png" style="height: 20px;width: 20px;" alt="icon" />&nbsp;<span class="tx-mov-mic">MeowCoin</span></a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link hot_link" href="/dashboard">
						<i class="icon ion-android-contact"></i>
						<span class="tx-mov-mic">&nbsp;Worker Stats</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link hot_link" href="/blocks">
						<i class="icon ion-cube"></i>
						<span class="tx-mov-mic">&nbsp;Pool Blocks</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link hot_link" href="/payments">
						<i class="icon ion-social-usd"></i>
						<span class="tx-mov-mic">&nbsp;PAYMENTS</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link hot_link" href="/workers">
						<i class="icon ion-android-contacts"></i>
						<span class="tx-mov-mic">&nbsp;Pool Workers</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link hot_link" href="/getting_started">
						<i class="icon ion-power"></i>
						<span class="tx-mov-mic">&nbsp;Get Started</span>
					</a>
				</li>
				<li class="nav-item with-sub">
					<a class="nav-link" href="#" data-toggle="dropdown">
						<i class="icon ion-ios-analytics"></i>
						<span class="tx-mov-mic">&nbsp;Resources</span>
					</a>
					<div class="sub-item">
						<ul>
							<li>
								<a class="hot_link" href="https://github.com/trexminer/T-Rex/releases" target="_blank"><img src="/static/img/download.png" style="height: 16px;width: 16px;" alt="icon" />&nbsp;<span class="tx-mov-mic">T-Rex</span></a>
							</li>
							<li>
								<a class="hot_link" href="https://github.com/todxx/teamredminer/releases" target="_blank"><img src="/static/img/download.png" style="height: 16px;width: 16px;" alt="icon" />&nbsp;<span class="tx-mov-mic">TeamRedMiner</span></a>
							</li>
							<li>
								<a class="hot_link" href="/faq"><i class="fas fa-comments icon-dropdown"></i><span class="tx-mov-mic">FAQ</span></a>
							</li>
							<li>
								<a class="hot_link" href="/learn_more"><i class="fab fa-leanpub icon-dropdown"></i><span class="tx-mov-mic">Learn More</span></a>
							</li>
							<li>
								<a class="hot_link" href="https://discord.gg/J68P683h" target="_blank"><i class="fab fa-discord icon-dropdown"></i><span class="tx-mov-mic">Discord</span></a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div id="page-wrapper">
		<div class="slim-mainpanel" id="page">
			<main id="mainContent">{{=it.page}}</main>
		</div>
	</div>
	<div class="slim-footer" id="poolFooter">
		<div class="container">
			<p>Copyright &copy; 2023</p>
		</div>
	</div>
</body>
</html>
